Latest/psml2ndDraft.xsd

<!-- 
GENERAL NOTES:

- Unknown elements will not be accepted. An option is to use an XSLT file to remove
  all elements not in the psml version before parsing using this XSD.

-->

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- ROOT NODE: <psml> Definition -->
  <xs:element name="psml">
    <xs:complexType>
      <!-- Nested Elements -->
      <!-- No upper limit on number of Jellyfish (minimum=1) -->
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Jellyfish"/>     
      </xs:sequence>
      <!-- Attributes -->
      <xs:attribute name="version" type="xs:int" use="required" />
    </xs:complexType>
  </xs:element>
  
  <!-- <Jellyfish> Definition -->
  <xs:element name="Jellyfish">
    <xs:complexType>
      <!-- Nested Elements -->
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="Appearance"/>
      </xs:sequence>
      <!-- Attributes -->
      <xs:attribute name="Name" type="xs:string" use="required"/>
      <xs:attribute name="Type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Static"/>
            <xs:enumeration value="Frozen"/>
            <xs:enumeration value="Floating"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Resizable" type="xs:boolean" use="required"/>  
      <xs:attribute name="LockAspectRatioOnResize" type="xs:boolean" use="optional"/>      
    </xs:complexType>
  </xs:element>

  <!-- <Appearance> Definition -->
  <xs:element name="Appearance">
    <xs:complexType>
      <!-- Nested Elements -->
      <!-- One (and only one) of EACH element MUST be present (in any order) -->
      <xs:all>
        <xs:element ref="Style"/>
        <xs:element ref="BlackHole"/>
        <xs:element ref="Resize"/>
        <xs:element ref="Title"/>
        <xs:element ref="Bungee"/>
      </xs:all>
      <!-- Attributes -->
      <xs:attribute name="Status" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Default"/>
            <xs:enumeration value="Selected"/>
            <xs:enumeration value="Alert"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="AspectRatio" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:float">
           <xs:minInclusive value="0.25"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Spacing" type="xs:float" use="required"/>
      <xs:attribute name="Mask" type="xs:string" use="required"/>      
    </xs:complexType>
  </xs:element>

  <!-- <Style> Definition -->
  <xs:element name="Style">
    <xs:complexType>
      <!-- Optional nested tag - can appear 1 or 0 times. -->
      <xs:all minOccurs="0">
        <xs:element ref="Graphic"/>
      </xs:all>
      <!-- Attributes -->
      <xs:attribute name="Border" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Solid"/>
            <xs:enumeration value="Dotted"/>
            <xs:enumeration value="Bold"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute> 
      <xs:attribute name="FillColour" use="required">
        <xs:simpleType>
          <!-- Hex colour value e.g #0FF34A (either letter case allowed) -->
          <xs:restriction base="xs:string">
           <xs:pattern value="[#][a-fA-F0-9][a-fA-F0-9][a-fA-F0-9][a-fA-F0-9][a-fA-F0-9][a-fA-F0-9]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <!-- <BlackHole> Definition -->
  <xs:element name="BlackHole">
    <xs:complexType>
      <!-- Optional nested tags - each can appear 1 or 0 times. -->
      <xs:all minOccurs="0">
        <xs:element ref="Graphic"/>
        <xs:element ref="HotArea"/>
      </xs:all> 
      <!-- Attributes -->
      <xs:attribute name="X" type="xs:float" use="required"/>
      <xs:attribute name="Y" type="xs:float" use="required"/>
      <xs:attribute name="Width" type="xs:float" use="required"/>
      <xs:attribute name="Height" type="xs:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- <Resize> Definition -->
  <xs:element name="Resize">
    <xs:complexType>
      <!-- Optional nested tags - each can appear 1 or 0 times. -->
      <xs:all minOccurs="0">
        <xs:element ref="Graphic"/>
        <xs:element ref="HotArea"/>
      </xs:all> 
      <!-- Attributes -->
      <xs:attribute name="MaxX" type="xs:float" use="required"/>
      <xs:attribute name="MaxY" type="xs:float" use="required"/>
      <xs:attribute name="Width" type="xs:float" use="required"/>
      <xs:attribute name="Height" type="xs:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- <Title> Definition -->
  <xs:element name="Title">
  <xs:complexType>
    <!-- Optional nested tags - each can appear 1 or 0 times. -->
     <xs:all minOccurs="0">
        <xs:element ref="Font"/>
     </xs:all>  
    <!-- Attributes -->
    <xs:attribute name="X" type="xs:float" use="required"/>
    <xs:attribute name="Y" type="xs:float" use="required"/>
    <xs:attribute name="Width" type="xs:float" use="required"/>
    <xs:attribute name="Height" type="xs:float" use="required"/>
    <xs:attribute name="Style" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Text"/>
          <xs:enumeration value="Graphic"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="HorizontalAlignment" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Centre"/>
          <xs:enumeration value="Left"/>
          <xs:enumeration value="Right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="VerticalAlignment" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Centre"/>
          <xs:enumeration value="Top"/>
          <xs:enumeration value="Bottom"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  </xs:element>

  <!-- <Bungee> Definition -->
  <xs:element name="Bungee">
    <xs:complexType>
      <!-- Optional nested tags - each can appear 1 or 0 times. -->
      <xs:all minOccurs="0">
        <xs:element ref="Connector"/>
        <xs:element ref="Line"/>
      </xs:all>
      <!-- Attribute definitions -->
      <!-- NONE -->
    </xs:complexType>
  </xs:element>

  <!-- <Graphic> Definition -->
  <xs:element name="Graphic">
    <xs:complexType>
      <!-- Nested elements -->
      <!-- NONE -->
      <!-- Attributes -->
      <xs:attribute name="Default" type="xs:string" use="required"/>
      <xs:attribute name="Ratio_50" type="xs:string" use="optional"/>
      <xs:attribute name="Ratio_150" type="xs:string" use="optional"/>
      <xs:attribute name="Hover" type="xs:string" use="optional"/>
      <xs:attribute name="Selected" type="xs:string" use="optional"/>
      <xs:attribute name="Disabled" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

  <!-- <HotArea> Definition -->
  <xs:element name="HotArea">
    <xs:complexType>
      <!-- Nested elements (none at present) -->   
      <!-- NONE -->  
      <!-- Attribute definitions -->
      <xs:attribute name="X" type="xs:float" use="required"/>
      <xs:attribute name="Y" type="xs:float" use="required"/>
      <xs:attribute name="Width" type="xs:float" use="required"/>
      <xs:attribute name="Height" type="xs:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- <Font> Definition -->
  <xs:element name="Font">
    <xs:complexType>
      <!-- Nested elements -->
      <!-- NONE -->
      <!-- Attributes -->
      <xs:attribute name="Face" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Arial"/>
            <xs:enumeration value="Times"/>
            <xs:enumeration value="Calibri"/>
            <xs:enumeration value="Impact"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Weight" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Normal"/>
            <xs:enumeration value="Bold"/>
            <xs:enumeration value="Italic"/>
            <xs:enumeration value="Underline"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="Size" type="xs:float" use="optional"/>
      <xs:attribute name="Colour" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[#][a-fA-F0-9][a-fA-F0-9][a-fA-F0-9][a-fA-F0-9][a-fA-F0-9][a-fA-F0-9]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>


  <!-- <Connector> Definition -->
  <xs:element name="Connector">
    <xs:complexType>
      <!-- Optional nested tags - each can appear 1 or 0 times. -->
      <xs:all minOccurs="0">
        <xs:element ref="Marker"/>
      </xs:all>
      <!-- Attributes-->
      <xs:attribute name="Type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Start"/>
            <xs:enumeration value="Stop"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="X" type="xs:float" use="required"/>
      <xs:attribute name="Y" type="xs:float" use="required"/>
      <xs:attribute name="Width" type="xs:float" use="required"/>
      <xs:attribute name="Height" type="xs:float" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- <Line> Definition -->
  <xs:element name="Line">
    <xs:complexType>
      <!-- Nested elements -->
      <!-- NONE -->
      <!-- Attributes -->
      <xs:attribute name="Colour" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:string">
           <xs:pattern value="[#][a-fA-F0-9][a-fA-F0-9][a-fA-F0-9][a-fA-F0-9][a-fA-F0-9][a-fA-F0-9]"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="WidthPerLayer" type="xs:float" use="required"/>
      <xs:attribute name="MaxWidth" type="xs:float" use="required"/>
      <xs:attribute name="AvoidJellyfish" type="xs:boolean" use="required"/>
      <xs:attribute name="MergeLinesAtSameLevel" type="xs:boolean" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- <Marker> Definition -->
  <xs:element name="Marker">
    <xs:complexType>
      <!-- Nested elements -->
      <!-- NONE -->
      <!-- Attributes-->
      <xs:attribute name="Width" type="xs:float" use="required"/>
      <xs:attribute name="Height" type="xs:float" use="required"/>
      <xs:attribute name="Graphic" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
